div{
    border-radius: 4px;
}

#main
{
    z-index: 1;
    height: 90px;
    width: 100%;
    background-color: purple;
    margin-bottom: 20px
    }

#name
{
    float: left;
    margin-left: 20px;
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
}

#email
{
    float: right;
    margin-right: 30px;
    color: white;
    padding-bottom: 10px;  
    font-size: 20px;
}

#number{
    float: right;
    color: white;
    margin-right: -115px;
    font-size: 20px;
    padding-bottom: 10px; 
    margin-top: 40px;
}

#head1{
    float: left;
    margin-left: -150px;
    font-size: 30px;
    margin-top: auto;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-thickness: 2px;
}

#methead1{
    float: left;
   margin-top: -100px;
   margin-left: 20px;
   padding-right: 10px;
   text-align: left;
   font-size: 17px;
}

.left{
    float: right;
    padding-left: 60%;
    margin-right: 3%;
    border-radius: 200%;

}

#head2{
    float: left;
    margin-left: 20px;
    font-size: 30px;
    margin-top: auto;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-thickness: 2px;
}

#list1{
    padding-right: 55%;
    float: left;
    font-size: 17px;
    margin-top: 1%;
    margin-left: 140px;
}

#head3{
    float: left;
    margin-left: 20px;
    font-size: 30px;
    margin-top: auto;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-thickness: 2px;
}


#list2{
    padding-right: 55%;
    float: left;
    font-size: 17px;
    margin-top: 1%;
    margin-left: 140px;
}

#head4{
    float: left;
    margin-left: 20px;
    font-size: 30px;
    margin-top: auto;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-thickness: 2px;
}

#list3{
    padding-right: 55%;
    float: left;
    font-size: 17px;
    margin-top: 1%;
    margin-left: 140px;
}

#head5{
    float: left;
    margin-left: 20px;
    font-size: 30px;
    margin-top: auto;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-thickness: 2px;
}

#list4{
    padding-right: 55%;
    float: left;
    font-size: 17px;
    margin-top: 4%;
    margin-left: -1%;
}
